
*{
    box-sizing: border-box;
}
    body {
    font-family: Tahoma, Arial, sans-serif;
    background-image: url(../img/backg.jpg);
    color: white;
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0 auto;
}
header {
	width: 100%;
	background-color: navy;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
}

.header_menu  li {
	margin-right:0;
	float:right;
	line-height: 30px;
	background-color:navy;
	padding: 0 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.header_menu li:hover {
    background-color: blue;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: all 0.4s;
}
.header_menu li.flag {
	background-image: url("../img/flag_9.png");
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 0px 6px;
}


span {
	text-decoration: underline;
}
.header_menu li a {
	display: inline-block;
	color: white;
    line-height: 50px;
    padding: 0 10px;
}
.main {
	position:relative;
	min-width: 100%;
	height: 1028px;
}
.name {
	padding: 20px;
	font-size:40;
	text-align: center;
	color: white;

}
.form {
	position: absolute;
	top: 10%;
	left: 29%;
	max-width: 500px;
	width: 50%; 
	
    background-color:rgba(0,0,0,0.6); 
 	padding: 2px;
 	margin-bottom: 20px; 
}

.item {
	padding-left: 120px;
	padding-top: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 30px;

}
p {
	color:white;
	font-size: 11px;
	padding-top: 5px;

}
div .item_top input {
	padding: 10px;
	margin-top: 20px;
	width: 280px;
	font-size: 16px;
	background-color: #1b5288;
	color: white;
	border: 0px;
	border-radius: 5px;
	
}


div .item_button input {
	padding: 10px;
	margin-top: 20px;
	width: 280px;
	font-size: 16px;
	background-color: black;
	color: white;
	border: 0px;
}
div .enter input {
	padding: 10px;
	margin-top: 20px;
	margin-left: 50px;
	width: 180px;
	font-size: 16px;
	background-color: #074f8f;
	color: white;
	border: 0px;
	border-radius: 5px;
}
div .checkbox input {
	font-size: 16px;
	color: white;
	padding-top: 20px;
	margin-top: 20px;
}
div .text_1 {
	margin-top: 20px;
	margin-bottom: 0px;
}
div .text_2 {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 90px;
}
.ou {
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.ou:before,.ou:after {
	content: "";
	display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: 1px;
    background-color:white;
}
.ou:before {
	margin-left: -120%;
	left: -25px;
}
.ou:after {
	margin-right: -100%;
	right: -25px;
}

